# the .env file with the secrets and config
.env
# the DB data folder
databasedata/
# notes and reference material
notes/
# pytest-cov
.coverage
# input and output files
*.xml
*.tif
*.osm
*.pbf
*.png
*.svg
