# generate geoTIFF, manipulate coordinates
GDAL==3.2.0
# display, and quick troubleshooting
matplotlib==3.3.3
# everything math
numpy==1.19.4
# database access
psycopg2-binary==2.8.6
# coordinate system conversion
pyproj==3.0.0.post1
# geometrical operations, easy GeoJSON parsing
Shapely==1.7.1

# tests
pytest==6.1.2
pytest-cov==2.10.1

# util to read and use .env files
dotenv-cli==2.2.0

# linting
flake8==3.8.4
