# display, and quick troubleshooting
matplotlib==3.8.0
# everything math
numpy==1.26.1
# database access
asyncpg==0.28.0
# coordinate system conversion
pyproj==3.6.1
# geometrical operations, easy GeoJSON parsing
# in the past had issue with the wheels
Shapely==2.0.2

# tests
pytest==7.4.3
pytest-asyncio==0.22.0
pytest-cov==4.1.0

# linting
flake8==6.1.0

# type checking
mypy==1.6.1
