# display, and quick troubleshooting
matplotlib==3.4.2
# everything math
numpy==1.20.2
# database access
asyncpg==0.22.0
# coordinate system conversion
pyproj==3.0.1
# geometrical operations, easy GeoJSON parsing
# NEEDS the no-binary option, see the integration/aaa-* test for more info
Shapely==1.7.1 --no-binary=Shapely

# tests
pytest==6.2.4
pytest-asyncio==0.15.1
pytest-cov==2.11.1

# linting
flake8==3.9.2

# type checking
mypy==0.812
